.header {
  background-image: url('/src/images/header\,2x.png');
  background-position: 85%;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;

  @include on-tablet {
    background-position: 50%;
  }

  &__content {
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  /* &__top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
  } */

  &__title {
    font-size: 36px;
    font-weight: 700;
    line-height: 100%;
    text-align: center;
    letter-spacing: -1.5px;
    vertical-align: middle;

    @include on-tablet {
      font-size: 64px;
    }

    @include on-desktop {
      font-size: 80px;
    }
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 88px;

    @include on-tablet {
      margin-bottom: 130px;
    }

    @include on-desktop {
      margin-bottom: 203px;
    }
  }
}
