.page {
  font-family: Poppins, sans-serif;
  font-size: 16px;
  line-height: 140%;
  color: rgba(255, 255, 255, 1);

  background-color: rgba(29, 29, 29, 1);
}

.page__body {
  margin: 0;
}

.page__menu {
  pointer-events: none;

  position: fixed;
  top: 0;
  right: 0;
  left: 0;

  opacity: 0;
}
